.input
{
    -fx-border-width: 1px ;
    -fx-border-color: #a8a8a8;
    -fx-background-color: #fff;
    -fx-padding: 5px;
    -fx-border-radius: 2px;
}

.button
{
    -fx-border-width: 1px ;
     -fx-border-color: #368ab5;
     -fx-background-color: #3d9ccc;
     -fx-padding: 5px;
     -fx-color: #fff;
     -fx-border-radius: 2px;
     -fx-width: 100%;
     -fx-transition: all 0.3s;
}
.button:hover
{
     -fx-background-color: #368ab5;
}